* {
    margin: 0;
    padding: 0; }

/* SECCION NAVBAR */
.fondoNav{
    background-color: black !important; 
}
.colorLinks{
    color: #F1487A;
    /* #54AFE5 */
}
.tamanoNavbar{
    height: 90px;
}
.botonHamburguesa{
    background-color: gainsboro;
}
/* FIN SECCION NAVBAR */

/* SECCION MULTIPLAY */
.contenedorIndex{
    margin: 200px 200px;
}
.h1{
    font-weight: bold;
    line-height: 1.2em;
    font-size: 88px;
    color: rgb(251,203,65);
}
.h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    margin: 35px 0;
}
.parrafo{
    line-height: 1.67em;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
}
/* FIN SECCION MULTIPLAY */

/* SECCION SOBRE NOSOTROS */
.h1SobreNos{
    font-weight:bold;
    color: rgb(126,205,80);
    text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-top: 100px;
    margin-bottom: 35px;
}
.h3SobreNos{
    font-weight: 600;
    text-align: center;
    line-height: 1.41em;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 35px;
}
.pSobreNos{
    line-height: 1.67em;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    margin: 0px 350px 0px 350px;
}
.fondoCarrousel{
    background-color: rgb(126,205,80);
    margin-top: 120px;
}
.InfoCarrousel{
    background-color: white;
    width: 480px;
    height: 500px;
    margin: 60px 0px 0px 0px;
}
.carrouselFlex{
    display: flex;
    flex-wrap: nowrap;
}
.imgCarrousel{
    width: 480px;
    height: 500px;
    object-fit: cover;
    margin: 60px 0px 70px 250px;
    background-color: white;
}
.h2Carrousel{
    font-weight: bold;
    text-align: left;
    line-height: 1.35em;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    margin-left: 50px;
    margin-top: 100px;
}
.pCarrousel{
    line-height: 1.41em;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    margin-left: 50px;
    margin-right: 80px;
}

/* FIN SECCION SOBRE NOSOTROS */

/* SECCION PRODUCTO */
.contenedorTexto{
    display: flex; 
    flex-direction:column; 
    align-items:center;
}
.h1Producto{
    font-weight:bold;
    color: rgb(251,203,65);
    text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-top: 100px;
    margin-bottom: 35px;
}
.h3Producto{
    font-weight: 600;
    text-align: center;
    line-height: 1.41em;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 35px;
}
.p1Producto{
    line-height: 1.67em;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    margin: 0px 300px 0px 300px;
    font-weight: 200;
}
.btn1Productos{
    border-radius: 30px;
    cursor: pointer;
    width: 235px;
    height: 60px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(251,203,65);
}
.margenContenedor{
    margin-top: 80px;
    margin-bottom: 80px;
}
.contenedorTexto2{
    display: flex; 
    flex-direction:column; 
    align-items:center;
    width: 1400px;
    height: 360px;
    background-color: rgb(251,203,65);
}
.h2Producto{
    text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    margin-top: 50px;
}
.p2Producto{
    line-height: 1.41em;
    text-align: center;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    text-decoration: underline;
    margin-top: 20px;
    font-weight: 600;
}
.btnContactanos{
    border-radius: 30px;
    cursor: pointer;
    width: 164px;
    height: 60px;
    color: #F1487A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    margin-top: 50px;
}
/* FIN SECCION PRODUCTO */

/* SECCION SERVICIOS */
.margenContainer{
    margin-bottom: 70px;
}
.tamanoOfertas{
    width: 670px;
    height: 380px;
    display: flex; 
    flex-direction:column; 
    align-items:center;
}
.TxtServicios{
    display: flex; 
    flex-direction:column; 
    align-items:center;
    margin-bottom: 55px;
}
.h1Servicios{
    font-weight:bold;
    color: rgb(126,205,80);
    text-align: center;
    line-height: 1.25em;
    font-size: 72px;
    margin-top: 100px;
    margin-bottom: 15px;
}
.h3Servicios{
    font-weight: 600;
    text-align: center;
    line-height: 1.41em;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
}
.btn1Servicios{
    border-radius: 30px;
    cursor: pointer;
    width: 235px;
    height: 60px;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(126,205,80);
    text-decoration: none
}
.colorFondoOf{
    background-color: black;
}
.h2Servicios{
    text-align: center;
    line-height: 1.35em;
    font-size: 40px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    color: white;
    margin-top: 60px;
    
}
.p1Servicios{
    line-height: 1.41em;
    text-align: center;
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 600;
}
.p2Servicios{
    line-height: 1.67em;
    text-align: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    color: white;
}
.btnContactanosServicios{
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    width: 164px;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    background-color:  rgb(126,205,80);
    border: solid 1px rgb(126,205,80) ;
    margin-top: 10px;
}
/* FIN SECCION SERVICIOS */

/* SECCION COMPRAR */
.contenedorProductos{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
}

.cardProductos{
    width: 355px;
    height: 420px;
    margin-bottom: 50px;
    border: none !important;
}

.productosCarrito{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.bodyCard{
    border: solid 1px gray;
    border-radius: 10px;
}

.coloLetras{
    color: #F1487A;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.fondoAgregar{
    background-color: #F1487A;
}

.imgCompra{
    width: 100%;
    
}
/* FIN SECCION COMPRAR */

/* SECCION CONTACTO */
.margenContenedorContacto{
    margin-top: 120px;
    margin-bottom: 120px;
}
.tamanoContactos{
    width: 480px;
    height: 800px;
    display: flex; 
    flex-direction:column; 
}

.tamanoMapa{
    width: 480px;
    height: 800px;
}

.h1Contacto{
    font-weight: bold;
    text-align: left;
    line-height: 1.25em;
    font-size: 72px;
    color: rgb(251,203,65);
}
.p1Contacto{
    text-align: left;
    line-height: 1.67em;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}
.p2Contacto{
    line-height: 1.67em;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    margin-bottom: 0px;
}
.redesContacto{
    margin-bottom: 40px;
}
.formulario{
    font-size: 15px;
    color: #F1487A;
}
.bordeFormulario{
    border: solid 1px #F1487A;
}
.btnEnviar{
    width: 458px;
    height: 38px;
    background-color: #F1487A;
    border: solid 1px #F1487A;
    margin-top: 20px;
}
/* FIN SECCION CONTACTO */

/* SECCION FOOTER */
.footer{
    background-color: black !important;
    height: 120px;
    align-content: center;
}
.colorFooter{
    color: #F1487A;
}
.footerParrafo{
    text-align: center;
    line-height: 1.79em;
    font-size: 14px;
}
.footerRedes{
    text-align: center;
}
/* FIN SECCION FOOTER */

/* BOTON WSP */
.wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 47px;
    bottom: 30px;
    right: 30px;
    background-color: #0df053;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100; }

.wsp:hover {
    text-decoration: none;
    color: #0df053;
    background-color: white; }